nav.navbar.is-secundary
    .container
        .navbar-brand
            a.navbar-item
                img(src='/static/logo/dianlion.png' width='30' height='50')
        .navbar-menu
            .navbar-end
                .navbar-item
                    span.icon.is-large
                        i.fas.fa-shopping-cart.fa-2x